
        
        h2 {
            color: rgb(255, 255, 255);
        }  
        
        body {
            background-color: rgb(255,255,255);
        }
#nav-table { width: 600px;}

#nav-td {width:600px; text-aling: center;}
