
        
        h2 {
            color: rgb(255, 255, 255);
        }  
        
        body {
            background-color: white);
            font-family: monospace;
            color: white;
            margin-right: 30px;
            margin-left: 30px;
        }
#banner{ witdh: 100% 
}

table{ width: 100%
}
