body{
  background: #0090c2;
}

div.content{
    width:1024px;
    margin-left : auto;
    margin-right: auto;
}


#nav-table{ witdth:800px;}

#nav-td{ width:200px; text-align:center;}        

#java{
   background-color: #013950;
          }  

#About{ 
  background-color: #013950;
         } 

#welcome{
     background-color: #013950;
         }

h1{
  color: #FFFFFF;
}

table{
  width:100%
}
