
        
        h2 {
            color: rgb(255, 255, 255);
        }  
        
        body {
            background-color: rgb(255,255,255);
        }

#nav-table {width: 1400px;} 

#nav-id {width: 450px; tex-align: center;}
