
        
        h2 {
            color: rgb(255, 255, 255);
        }  
        
        body {
            background-color: rgb(255,255,255);
        }

#nav-table {width: 800px;} 

#nav-id {width: 200px; tex-align: center;}
