
        
        h2 {
            color: rgb(255, 255, 255);
        }  
        
        body {
            background-color: rgb(255,255,255);
        }
#nav-table{ width: 1400px;} 
#na-td{ width: 200px; text-align: center;}
