body{
  background: #0090c2;
}

div.content{
    width:1024px;
    margin-left : auto;
    margin-right: auto;
}


#nav-table{ witdth:800px;}

#nav-td{ width:100px; text-align:center;}        

#java{
   background-color: #013950;
          }  

#About{ 
  background-color: #013950;
         } 

#welcome{
     background-color: #013950;
         }

h1{
  color: #FFFFFF;
}

table{
  width:100%
}

p{
  font-size: 150%;
}

#Lucas{
                width: 100px;
                margin-right:10px;
                float:left;
            }

#Lucas{
    float:left;    
}

#Portugal{
    width: 10px;
    margin-left:10px;
    float: right;
}
                  
 #Portugal{ 
    float:right;
}
      
      
  #Realmadrid{
     width: 10px;
     margin-right:10px;
     float:none;
}

#Realmadrid{
    float:left;
}
