body{
  background:#FFFFFF;
}

div.content{
    width:1024px;
    margin-left : auto;
    margin-right: auto;
}


#nav-table{ witdth:800px;}

#nav-td{ width:100px; text-align:center;}        

#java{
   background-color: #013950;
          }  

#About{ 
  background-color: #013950;
         } 

#welcome{
     background-color: #013950;
         }

h1{
  color: #FFFFFF;
}

table{
  width:100%
}

p{
  font-size: 150%;
  background-color: blue:
}

#Lucas{
                width: 100px;
                margin-right:10px;
                float:left;
            }

#Lucas{
    float:left;    

 #realmadrid{
            width: 250px;
            height: 250px;
            position: absolute;
            bottom: 20px;
            float:left;
            z-index: 1;
  }

  #aboutme {
   margin-top: 30px;
  }
